In [ ]:
pip install yahoofinancials

Collecting yahoofinancials
  Downloading yahoofinancials-1.6.tar.gz (27 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2018.9)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-py3-none-any.whl size=15190 sha256=e8b778e97321fe2929dde8cae820ff542601404b1392a8714eda297afbe27733
  Stored in directory: /root/.cache/pip/wheels/4b/63/46/e7110bfee88685fe69e338d1b14d1748921862aa57b6705b60
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

In [ ]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 11.5 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=c41dbfd77ec09a5383bbbc4b08d750d9125b22c8b1470f53405ee748236d622b
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [ ]:
import os
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import seaborn as sns
from pylab import rcParams
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
from matplotlib import rc
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import Bidirectional, Dropout, Activation, Dense, LSTM
from tensorflow.python.keras.layers import CuDNNLSTM
from tensorflow.keras.models import Sequential

In [ ]:
ticker_btc = ['BTC-USD']

In [ ]:
df_btc = pd.DataFrame()
temp_df = yf.download(ticker_btc,
                    start = '2014-01-01',
                    end = '2021-12-31',
                    progress = False)
df_btc = df_btc.append(temp_df)
df_btc.head()

                  Open        High  ...   Adj Close    Volume
Date                                ...
2014-09-17  465.864014  468.174011  ...  457.334015  21056800
2014-09-18  456.859985  456.859985  ...  424.440002  34483200
2014-09-19  424.102997  427.834991  ...  394.795990  37919700
2014-09-20  394.673004  423.295990  ...  408.903992  36863600
2014-09-21  408.084991  412.425995  ...  398.821014  26580100

[5 rows x 6 columns]

In [ ]:
df_btc.tail()

                    Open          High  ...     Adj Close       Volume
Date                                    ...
2021-10-04  48208.906250  49456.777344  ...  49112.902344  33383173002
2021-10-05  49174.960938  51839.984375  ...  51514.812500  35873904236
2021-10-06  51486.664062  55568.464844  ...  55361.449219  49034730168
2021-10-07  55338.625000  55338.625000  ...  53805.984375  36807860413
2021-10-08  53756.832031  54417.851562  ...  54178.187500  35443687424

[5 rows x 6 columns]

In [ ]:
ticker_eth = ['ETH-USD']

In [ ]:
df_eth = pd.DataFrame()
temp_df = yf.download(ticker_eth,
                    start = '2014-01-01',
                    end = '2021-12-31',
                    progress = False)
df_eth = df_eth.append(temp_df)
df_eth.head()

                Open      High       Low     Close  Adj Close   Volume
Date
2015-08-07  2.831620  3.536610  2.521120  2.772120   2.772120   164329
2015-08-08  2.793760  2.798810  0.714725  0.753325   0.753325   674188
2015-08-09  0.706136  0.879810  0.629191  0.701897   0.701897   532170
2015-08-10  0.713989  0.729854  0.636546  0.708448   0.708448   405283
2015-08-11  0.708087  1.131410  0.663235  1.067860   1.067860  1463100